@import url('form.css');

/** Definición de Color **/
:root {
    --color-principal: #D20073;
    --color-principal__darken: #A7005B;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none; /* Puedes cambiarlo a 'circle', 'disc', etc. */
}

.img__logo {
    width: 60px;
    height: 60px;
}

h2 {
    color: var(--color-principal__darken);
    font-size: 20px;
}

.img__logo--md {
    width: 100px;
    height: 100px;
}

.carousel-item .img__carousel {
    opacity: 0.85;
}

/** Footer, configuración para que esté abajo siempre */
